.blog-h1 {
    font-size: 1.5em;
    position: relative;
    left: -3px;
    line-height: 1;
    font-weight: 400;
}
.blog-date {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
}
.blog {
    max-width: 100ch;
    margin-left: auto;
    margin-right: auto;
}

.blog-nav {
    margin-top: 3em;
}
.blog-nav ul {
    margin-left: 0;
}

.blog-contents {
    font-size: 18px;
    line-height: 1.3;
}

.blog-contents h2, h3 {
    font-weight: 600;
}

.blog-contents h2 {
    
    line-height: 1;
    font-size: 1.2em;
    margin-top: 1.25em;
}

blockquote {
    padding-left: 1em;
    border-left: 0.1em solid var(--vice-blue);
    font-weight: 300;    
}

@media (min-width: 500px) {
   
    .blog-contents {
        font-size: 22px;
    }
    .blog-contents h2 {
        font-size: 1.4em;
    }
    .blog-h1 {
        font-size: 2em;
    }
}

/* This is probably disgusting, too bad */
.gatsby-resp-image-wrapper {
    margin: 1.5em 0;
    max-width: 57ch !important;
}